<!DOCTYPE html>
<html lang="en"></html>
<head>
    <% include ../header/header %>
    <style>
    	th, td{
    		border-bottom: 1px solid #ddd;
    	}

    	.container{
    		text-align: center;

    	}
    </style>
	
</head>

	<div class="jumbotron">
	  <h1><%= TransporterName %></h1> 
	  
	</div>


	<div class="container" >
    <div class="container" id="transporterInfos" >
      <h1>TransporterInfo</h1>

      


    </div>





    <div class="container" id="compounds">
      <!-- DrugTable -->
      <div class="container" id="drugs">
        <h1>Associated Drugs</h1>
        <table style="width: 100%;border:0px solid #ddd;table-layout: fixed;">
        <tr>
          <th>Drug Name</th>
          <th>Drug Function</th>
          <th>Type</th>
          <th>Reference</th>
        </tr>
        </table>

		    <table id="data" style="width: 100%;border:0px solid #ddd;table-layout: fixed;">
  		
  		  <% data.forEach(function(data) { %>
          <tr>
  				  <td><%= data.CompoundName %></a></td>
  				  <td><%= data.CompoundFunction %></td>
            <td><%= data.CompoundType %></td>
  				  <td><%= data.Reference %></td>
          </tr>
  		  <% }); %>
		    </table>
      </div>

      <!-- metabolites table -->
      <div class="container" id="metabolites">
        <h1>Associated Metabolites</h1>
        <table style="width: 100%;border:0px solid #ddd;table-layout: fixed;">
        <tr>
          <th>Metabolite Name</th>
          <th>Metabolite Function</th>
          <th>Type</th>
          <th>Reference</th>
        </tr>
        </table>

        <table id="data" style="width: 100%;border:0px solid #ddd;table-layout: fixed;">
      
        <% metabolites.forEach(function(data) { %>
          <tr>
            <td><%= data.CompoundName %></a></td>
            <td><%= data.CompoundFunction %></td>
            <td><%= data.CompoundType %></td>
            <td><%= data.Reference %></td>
          </tr>
        <% }); %>
        </table>
      </div>

    </div>
	</div>



<footer>
    <% include ../footer/footer %>
</footer>

</body>
</html>
